.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-par {
  height: 250px;
  width: 100vw;
}

.head_css {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.head_css_img {
  height: 100vh;
  width: 100%;
  opacity: 0.5;
}

.main_css {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.main_css h1 {
  color: #15e6d1;
}

.react-parallax-bgimage {
  width: 100vw !important;
}

.sweep-wrapper {
  position: relative;
  height: 200px;
  width: 100px;
  margin-left: 10px;
}

.sweep-wrapper-fore {
  position: relative;
  height: 250px;
  width: 150px;
  background-color: white;
  border: 1px solid #15e6d1;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.sweep-wrapper-fore:hover {
  transform: scale(1.5);
  transition: 0.6s ease;
  z-index: 100;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-css {
  width: 100%;
}

.header_title {
  position: relative;
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-svg {
  position: relative;
  width: 100px;
}

.head-title-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.head-desc {
  position: absolute;
}

.head-desc p {
  position: relative;
  top: 65px;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer {
  position: relative;
  height: 420px;
  background-color: black;
}

.footer p {
  color: white;
  margin: 0;
}

.footer h1 {
  color: #15e6d1;
  margin: 0;
}

.footer svg {
  fill: white;
  bottom: 10px;
  position: absolute;
  right: 50px;
  cursor: pointer;
}

.footer svg:hover {
  fill: yellow;
}

.footer-lok {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-cont {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column
}

.footer-cont p {
  font-size: 20px;
}

.footer-cont a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer-cont a:hover{
  color: yellow;
}

.footer-map {
  position: relative;
  height: auto;
  width: auto;
  margin-top: 10px;
}

.main-img {
  height: 300px;
  width: 300px;
  margin: 10px;
}